# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Next.js
/.next/
/out/

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Build
/build
/coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.pem

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
